<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Role Based Auth System', root_path, class: 'font_wt' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Admin Dashboard', rails_admin_path %></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
  </div>
  </div>
</nav>
